doctype html
html
    head
        style
            html, body, ul {
                padding: 0px;
                margin: 0px;
            }
            ul > li {
                padding: 8px;
                list-style-type: none;
            }
    body
        ul
            li User:    #{user}
            li State:   #{state}
            li Recode : #{recode}